<% include ../partials/header %>

<br>
<div class="">
  <div class="col s12">
  	<a href="/event/add" class="btn btn-success btn-lg">Add a new event</a>
  </div>	
</div>
<br>
<div class="=">
  <div class="col s12">
  	<!-- ako ima itemsa tj nesto je stiglo iz server.js -->
  	<% if(items.length > 0) { %>
  	  <table class="table">
  	  	<thead>
  	  	  <tr>
  	  	  	<th style="width: 1%; text-align: center;">ID</th>
  	  	  	<th style="width: 49%;">Name</th>
  	  	  	<th style="width: 20%;">Description</th>
  	  	  	<th style="width: 10%;">Location</th>
  	  	  	<th sospan="2" style="width: 20%; text-align: center;">Actions</th>
  	  	  </tr>	
  	  	</thead>
  	  	<tbody>
  	  	  <!-- iteriramo kroz items-e i prikazujemo svaki kao red u tabeli -->
  	  	  <% items.forEach(function(item, index){ %>
  	  	  	<tr>
  	  	  	  <td style="width: 1%; text-align: center;"><%= index + 1 %></td>
  	  	  	  <td style="width: 49%"><%= item.e_name %></td>
  	  	  	  <td style="width: 20%"><%= item.e_desc %></td>
  	  	  	  <td style="width: 10%"><%= item.e_location %></td>	
  	  	  	  <td sospan="2" style="width: 20%; text-align: center;">
  	  	  	  	<a href="/event/edit/<%= item.e_id %>" class="btn btn-success">Edit</a>
  	  	  	  	<a href="/event/delete/<%= item.e_id %>" class="btn btn-danger">Delete</a>
  	  	  	  </td>
  	  	  	</tr>	
  	  	  <% }); %>		
  	  	</tbody>
  	  </table>	
  	<!-- ako nema itemsa tj nista nije stiglo iz server.js -->
  	<% }else{ %>
  	  <p><strong>There are no events available.</strong></p>	
  	<% } %>  	
  </div>	
</div>

<% include ../partials/footer %>
